html{
    height: 100vh;
    min-width: 600px;
    background-color: #719fb0;
    background-repeat: no-repeat;
    background-size: auto;
}

.container{
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

.logo{
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 500px;
    padding: 1.5rem 0;
    align-items: center;
}

.main{
    padding: 20px;
}

form{
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    display: flex;
}

input[type="text"] {
    height: 30px;
    outline: 0;
    border: none;
    font-size: 1rem;
    font-family: "Relaway", sans-serif;
    color: #595959;
    flex-grow: 1;
}

button{
    font-size: 1.5rem;
    background-color: #ffffff;
    outline: 0;
    border: none;
    color: #595959;
}

button:hover{
    color: #e985b7;
}

.exerciseList{
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 25px;
    height: 100%;
}

ul{
    padding-left: 0px;
    list-style: none;
}

li{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bebec7;
    padding: 15px 0;
    font-size: 1rem;
    color: #595959;
}

i{
    pointer-events: none;
}

.todo-item{
    flex-grow: 1;
}

.clearAll{
    display: flex;
    justify-content: flex-end;
    padding: 10px 3px;
    cursor: pointer;
    font-size: 0.9rem;
}

.clearAll:hover{
    color: #e985b7;
}

.todo-list-item{
    transition: all 0.3s ease-out;
}

.todo-list-item-fall{
    transform: translateY(12rem) rotateZ(10deg);
    opacity: 0;
}

.note{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    background-color: #98b8dd;
    width: 540px;
    margin-left: 20px;

}

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    width: 86%;
    height: 40%;
    background-color: #ffffff;
    border-radius: 5px;
    margin-left: 21px;
    margin-bottom: 20px;

}

.quoteText{
    color: #000000;
    margin: 0;
    font-size: 18px;
    text-align: center;
}

.quoteAuthor{
    color: #595959;
    text-align: center;
  
}


/* Mobile design   */

/* Iphone 6/7/8 */
@media only screen and (max-width: 375px) {
    html{
        width: 380px;
    }
    body{
        background-color: red; 
    }
    .main{
        /* width: 100%; */
        /* height: 100%; */
    }

    form{
    width: auto;

    }
    
    .exerciseList{
        border: solid yellow;
        width: auto;
    }

    .quote{
        width: 520px;
    }
    .note{
        width: 537px;
    }

}

/* Iphone 6/7/8 plus */
@media only screen and (max-width: 415px) {
    html{
        width: 414px;
    }
    body{
        background-color: red; 
    }
    .main{
        /* width: 100%; */
        /* height: 100%; */
    }

    form{
    width: auto;

    }
    
    .exerciseList{
        border: solid yellow;
        width: auto;
    }

    .quote{
        width: 520px;
    }
    .note{
        width: 537px;
    }

}
